<!DOCTYPE html>
<html>
<head>
  <title>Movie store app</title>
</head>
<body>
<h1>Welcome</h1>
<p>Click the link bleow to vie api documentation</p>
<a href="https://app.swaggerhub.com/apis/miriti/MovieStore/1.0.0" target="blank">https://app.swaggerhub.com/apis/miriti/MovieStore/1.0.0</a>
</body>

</html>